* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header,
footer {
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

main {
    flex: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 15px;
    flex-wrap: wrap;
}

.b,
.c {
    flex: 1;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.c {
    flex: 2;
}